<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"
                ng-click="app.showMenu()"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">View Issues List</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="list" data-comp-id="ionic-list.1" ng-repeat="item in data.listItems"
            type="">
            <div class="row dark-border" data-comp-id="row.1"
                ng-click="app.action('viewissues', 'listItems[item].action', this)">
                <div class="col" data-comp-id="column.1">
                    <div data-comp-id="text.1" ng-bind="item.text2" style="font-weight: bold;">Some text</div>
                </div>
                <i class="icon ion-chevron-right" data-comp-id="icon.1"></i>
            </div>
            <div class="row" data-comp-id="row.2"
                ng-click="app.action('viewissues', 'listItems[item].action', this)">
                <div class="col text-left" data-comp-id="column.2" style="max-width: 43%;">
                    <div data-comp-id="text.2" ng-bind="item.text1" style="font-size: 15px;">Some text</div>
                </div>
                <div class="col text-center" data-comp-id="column.3" style="max-width: 15%;">
                    <div data-comp-id="text.3" ng-bind="item.text3" style="font-size: 14px;">Some text</div>
                </div>
                <div class="col text-right" data-comp-id="column.4" style="max-width: 42%;">
                    <div data-comp-id="text.4" ng-bind="item.text4" style="font-size: 16px;">Some text</div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar data-comp-id="footer-bar.1" dynamic-fixed-footer="">
        <ion-list data-comp-id="ionic-list.2"></ion-list>
    </ion-footer-bar>
</ion-view>